{% extends 'base.html.twig' %}


{% block body %}

    <div class="container my-5">
        <h1> Mon Panier</h1>

{{ dump(cart) }}
        <div class="row">
            <div class="col-md-8">
                Liste de mes produits
            </div>

            <div class="col-md-4">
                Récap de mon panier (prix, bouton, commander)
            </div>
        </div>

    </div>


{% endblock %}
