<ul class="nav flex-column bg-light-blue">
    <li class="nav-item">
        <a class="nav-link active" href="{{ path('app_account') }}">Mes commandes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Mes adresses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_account_edit_pwd') }}">Modifier mon mot de passe</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('_logout_main') }}">Me déconnecter</a>
    </li>
</ul>