{% extends 'base.html.twig' %}


{% block body %}

    <div class="container my-5">
        <h1>Espace membre privé</h1>
        <a href="{{ path('_logout_main') }}">Me déconnecter</a>
        <br/>
        <a href="">Modifier mon mot de passe</a>
    </div>


{% endblock %}
